services:
  backend:
    build: .
    container_name: dao_backend
    ports:
      - '8000:8000'
    env_file:
      - .env

  frontend:
    build: ./frontend
    container_name: dao_frontend
    ports:
      - '5173:5173'
    depends_on:
      - backend